<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar routerLink="/dashboard">Logo</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list class="links">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon class="icon">apps </mat-icon>
        <strong class="text-danger">All Post</strong></a
      >
      <a mat-list-item routerLink="creatpost" routerLinkActive="active">
        <mat-icon class="icon">post_add</mat-icon> <strong class="text-success">Create Post</strong></a
      >
      <!-- <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Angular Crud Application Task</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
